{% extends "base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/Contact.css' %}" media="screen">
{% endblock links %}


{% block content %}
<section class="skrollable u-black u-clearfix u-section-1" id="sec-106c">
  <div class="u-border-2 u-border-grey-75 u-expanded-width u-video u-video-contain u-video-1"
    data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
    <div class="embed-responsive embed-responsive-1">
      <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
        src="https://www.youtube.com/embed/KaS5l2Q8YRg?playlist=KaS5l2Q8YRg&amp;loop=1&amp;mute=1&amp;showinfo=0&amp;controls=1&amp;start=0&amp;autoplay=1"
        frameborder="0" allowfullscreen=""></iframe>
    </div>
  </div>
</section>
<section class="u-black u-border-2 u-border-grey-60 u-clearfix u-section-2" id="sec-6046">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
            <div class="u-border-8 u-border-white u-container-layout u-valign-middle u-container-layout-1">
              <h2 class="u-text u-text-1">Visit the store !</h2>
              <p class="u-text u-text-2">No. 579, Alagirisamy Salai, KK Nagar, Chennai 600078</p>
              <p class="u-text u-text-3">Number : 7092592272</p>
              <p class="u-text u-text-4">
                <a href="mailto:contacts@esbnyc.com">contacts@esbnyc.com</a>
              </p>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <div class="u-expanded u-grey-10 u-map u-map-1" data-animation-name="fadeIn"
                data-animation-duration="2500" data-animation-delay="0" data-animation-direction="">
                <div class="embed-responsive">
                  <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4622.345500024803!2d80.19962603602582!3d13.041161107999093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5267bf5cff362b%3A0xc54d362774835347!2sNuts%20'n'%20Crackers!5e0!3m2!1sen!2sin!4v1626755171411!5m2!1sen!2sin"
                    data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWVtYmVkJTIyJTJDJTIyYWRkcmVzcyUyMiUzQSUyMk1hbmhhdHRhbiUyMiUyQyUyMnpvb20lMjIlM0FudWxsJTJDJTIydHlwZUlkJTIyJTNBJTIycm9hZCUyMiUyQyUyMmxhbmclMjIlM0FudWxsJTJDJTIyYXBpS2V5JTIyJTNBbnVsbCUyQyUyMm1hcmtlcnMlMjIlM0ElNUIlNUQlMkMlMjJlbWJlZCUyMiUzQSUyMmh0dHBzJTNBJTJGJTJGd3d3Lmdvb2dsZS5jb20lMkZtYXBzJTJGZW1iZWQlM0ZwYiUzRCExbTE4ITFtMTIhMW0zITFkNDYyMi4zNDU1MDAwMjQ4MDMhMmQ4MC4xOTk2MjYwMzYwMjU4MiEzZDEzLjA0MTE2MTEwNzk5OTA5MyEybTMhMWYwITJmMCEzZjAhM20yITFpMTAyNCEyaTc2OCE0ZjEzLjEhM20zITFtMiExczB4M2E1MjY3YmY1Y2ZmMzYyYiUyNTNBMHhjNTRkMzYyNzc0ODM1MzQ3ITJzTnV0cyUyNTIwJTI2JTIzMzklM0JuJTI2JTIzMzklM0IlMjUyMENyYWNrZXJzITVlMCEzbTIhMXNlbiEyc2luITR2MTYyNjc1NTE3MTQxMSE1bTIhMXNlbiEyc2luJTIyJTdE"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-black u-border-2 u-border-grey-75 u-clearfix u-section-3" id="sec-a44a">
  <h2 class="u-text u-text-1">Sample Headline</h2>
  <div
    class="u-carousel u-expanded-width u-gallery u-gallery-slider u-layout-carousel u-lightbox u-no-transition u-show-text-on-hover u-gallery-1"
    id="carousel-d2d5" data-interval="5000" data-u-ride="carousel">
    <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
      <li data-u-target="#carousel-d2d5" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle"
        style="width: 10px; height: 10px;"></li>
      <li data-u-target="#carousel-d2d5" data-u-slide-to="1" class="u-grey-70 u-shape-circle"
        style="width: 10px; height: 10px;"></li>
      <li data-u-target="#carousel-d2d5" data-u-slide-to="2" class="u-grey-70 u-shape-circle"
        style="width: 10px; height: 10px;"></li>
    </ol>
    <div class="u-carousel-inner u-gallery-inner" role="listbox">
      <div class="u-active u-carousel-item u-effect-fade u-gallery-item u-carousel-item-1">
        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
          <img class="u-back-image u-expanded" src="https://wallpapercave.com/wp/wp2880184.jpg" alt="blah">
        </div>
        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-1">
          <h3 class="u-gallery-heading">blah</h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
      <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-2">
        <div class="u-back-slide" data-image-width="1280" data-image-height="853">
          <img class="u-back-image u-expanded"
            src="https://cdn.geckoandfly.com/wp-content/uploads/2018/03/ios-11-3840x2160-4k-5k-beach-ocean-13655.jpg">
        </div>
        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-2">
          <h3 class="u-gallery-heading">blah</h3>
          <p class="u-gallery-text"></p>
        </div>
      </div>
      <div class="u-carousel-item u-effect-fade u-gallery-item u-carousel-item-3" data-image-width="1280"
        data-image-height="853">
        <div class="u-back-slide">
          <img class="u-back-image u-expanded"
            src="https://512pixels.net/downloads/macos-wallpapers-thumbs/10-10--thumb.jpg" alt="blah">
        </div>
        <div class="u-align-center u-over-slide u-shading u-valign-bottom u-over-slide-3">
          <h3 class="u-gallery-heading">blah</h3>
          <p class="u-gallery-text"></p>
        </div>
        <style data-mode="XL" data-visited="true"></style>
        <style data-mode="LG"></style>
        <style data-mode="MD"></style>
        <style data-mode="SM"></style>
        <style data-mode="XS"></style>
      </div>
    </div>
    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-1"
      href="#carousel-d2d5" role="button" data-u-slide="prev">
      <span aria-hidden="true">
        <svg viewBox="0 0 451.847 451.847">
          <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
        </svg>
      </span>
      <span class="sr-only">
        <svg viewBox="0 0 451.847 451.847">
          <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
        </svg>
      </span>
    </a>
    <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-carousel-control-2"
      href="#carousel-d2d5" role="button" data-u-slide="next">
      <span aria-hidden="true">
        <svg viewBox="0 0 451.846 451.847">
          <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
        </svg>
      </span>
      <span class="sr-only">
        <svg viewBox="0 0 451.846 451.847">
          <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
        </svg>
      </span>
    </a>
  </div>
</section>
<section class="u-border-20 u-border-black u-clearfix u-image u-shading u-section-4" src="" data-image-width="1600"
  data-image-height="900" id="sec-cf43">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div
            class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-opacity u-opacity-65 u-size-39-md u-size-39-sm u-size-39-xs u-size-45-lg u-size-45-xl u-white u-layout-cell-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
              <h2 class="u-text u-text-default u-text-1">Other queries or order specifications?</h2>
              <p class="u-text u-text-2">Please feel free to whatsapp or call the store at working hours</p>
            </div>
          </div>
          <div
            class="u-align-left u-container-style u-layout-cell u-opacity u-opacity-65 u-right-cell u-size-15-lg u-size-15-xl u-size-21-md u-size-21-sm u-size-21-xs u-white u-layout-cell-2">
            <div class="u-container-layout u-valign-middle u-container-layout-2">
              <a href="https://wa.link/ex2c2z"
                class="u-border-none u-btn u-btn-round u-button-style u-hover-custom-color-1 u-palette-4-dark-1 u-radius-19 u-btn-1"
                data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0"
                data-animation-direction="" target="_blank">Whatsapp us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-border-5 u-border-black u-clearfix u-image u-shading u-section-5" src=""
  data-image-width="150" data-image-height="100" id="sec-380b">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-text u-text-1">Working Hours</h2>
    <p class="u-text u-text-2">No. 579, Alagirisamy Salai, KK Nagar</p>
    <p class="u-text u-text-3">Monday - Saturday&nbsp; :&nbsp; &nbsp;8 AM - 9 PM</p>
    <p class="u-text u-text-4">Sunday&nbsp; &nbsp;:&nbsp; &nbsp;9AM to&nbsp; 9PM</p>
    <p class="u-text u-text-5">Contact no. 7092592272</p>
  </div>
</section>

{% endblock content %}